@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Open Sans', sans-serif; 

  @apply bg-light-100 dark:bg-dark-900 text-white transition-colors duration-150
}

.dt {
  @apply transition-colors duration-150
}

.name-typewriter-animation {
  @apply after:transition-colors after:duration-150 before:transition-colors before:duration-150 after:absolute after:dark:bg-white after:inset-0 after:bg-light-900 after:w-1 after:h-[85%] after:animate-typewriter_and_blink before:absolute before:inset-0 before:bg-light-100 before:dark:bg-dark-900 before:animate-typewriter
}
